{% extends 'template.html'%}
{% load staticfiles %}
{% block title %}Asistencia ViveLab{% endblock %}
{% block subtitle %}Registro asistencia y uso de los servicios{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" name="formulario">
        {% csrf_token %}
        <div class="col-md-12 form lab">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Número de identificación: </label>
                        <input class="form-control input-sm" type="number" id="numeroDocumento" name="numeroDocumento" placeholder="Numero de documento" value="{{ datos.nit }}" autocomplete="off" onblur="verifica(this.value);" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombres: </label>
                        <input class="form-control input-sm text-uppercase" type="text" id="nombres" name="nombres" placeholder="Nombres" value="{{ datos.nombre }}" autocomplete="off" readonly required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Laboratorio: </label>
                        <select class="form-control input-sm" name="servicio" required>
                            <option value="">Laboratorio....</option>
                            {% for servicio in servicios %}
                            <option value="{{ servicio.id }}"> {{ servicio.servicio }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Servicio: </label>
                        <select class="form-control input-sm" name="tipo" id="tipo" required>
                            <option value="">Servicio....</option>
                            {% for tipo in tipos %}
                            <option value="{{ tipo.id }}"> {{ tipo.tipo }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" style="display: none;" id="oculto">
                        <label>Curso: </label>
                        <select class="form-control input-sm" name="curso">
                            <option value="">Curso....</option>
                            {% for curso in cursos %}
                                <option value="{{ curso.id }}"> {{ curso.curso }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" id="btn" class="btn btn-success"><span class="fa fa-pencil-square-o"></span> Registrar</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/sweetalert2.all.js' %}"></script>
    <script>
        function verifica()
            {
                var documento = $("#numeroDocumento").val();
                $.ajax({
                    data : {'documento':documento},
                    url: '/personaAjax',
                    type: 'get',
                    success: function(data) {
                        if(data.length==1){
                            document.getElementById('nombres').value = data[0].fields.nombres+" "+data[0].fields.apellidos;
                            document.getElementById('btn').disabled = false;
                        }
                        else{
                            swal({
                                title: "Error!",
                                html: "No existe ninguna persona registrada con el documento número "+ documento +" <a href='{% url 'persona_create' %}'>Click para registrarla</a>",
                                type: "error",
                                confirmButtonText: "Entendido",
                            });
                            document.getElementById('nombres').value = "";
                            document.getElementById('numeroDocumento').value = "";
                            document.getElementById('btn').disabled = true;
                            document.getElementById("numeroDocumento").focus();
                        }
                    }
                });
            }
    </script>
    <script>
        var x=document.getElementById('tipo');
        x.addEventListener('change', funcion, false);

        function funcion(){
            if (document.formulario.tipo.options[2].selected == true){
                $("#oculto").removeAttr("style");
                document.formulario.curso.required = true;
            }else {
                $("#oculto").css("display",'none');
                document.formulario.curso.required = false;
            }
        }


    </script>
{% endblock %}
